@font-face {
  font-family: pp-mori-regular;
  src: url(../Content/fonts/PPMori-Regular.woff2)format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: pp-mori-bold;
  src: url(../Content/fonts/PPMori-SemiBold.woff2)format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: suissetIntl-regular;
  src: url(../Content/fonts/SuisseIntl-Regular-WebXL.woff2)format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Medium screens (Tablets) */
@media (max-width: 992px) {

  /* Tablets */
  .container {
    width: 100%;
    padding: 15px;
  }

  /* Footer styles for tablets */
  footer {
    padding: 4vw 6vw;
  }

  footer .upper {
    min-height: 30vh;
  }

  footer .upper .text {
    font-size: 3.2vw;
    max-width: 60%;
  }

  footer .upper .circle {
    height: 12vw;
    width: 12vw;
    font-size: 1.8vw;
  }

  footer .lower {
    gap: 5vw;
  }

  footer .lower .email-div {
    width: 45%;
    min-width: 250px;
  }

  footer .lower .email-div p {
    font-size: 2.5vw;
  }

  footer .lower .links-div h6 {
    font-size: 2.8vw;
  }

  footer .lower .links-div .parent-links {
    gap: 4vw;
  }
}